<div class="container">
  <table>
    <caption>
      List of Links
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Route</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links; let i = index" (click)="selectLink(link)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ link.title }}</td>
        <td>{{ link.route }}</td>
      </tr>
    </tbody>
  </table>

  <section *ngIf="selectedLink">
    <div>
      <button (click)="deleteLink()">Eliminar</button>
      <button (click)="cancelSelection()">Cancelar selección</button>
    </div>

    <div>
      <h2>Link Seleccionado</h2>
      <p>
        <strong>Title:</strong> <span>{{ selectedLink.title }}</span>
      </p>
      <p>
        <strong>Route:</strong> <span>{{ selectedLink.route }}</span>
      </p>
    </div>
  </section>

  <section *ngIf="!selectedLink">
    <form [formGroup]="linksForm">
      <div>
        <label for="title">Título:</label>
        <input type="text" id="title" formControlName="title" />
      </div>
      <div>
        <label for="route">Ruta:</label>
        <input type="text" id="route" formControlName="route" />
      </div>
      <button (click)="createLink()">Crear Enlace</button>
    </form>
  </section>
</div>
