<div class="container">
  <form [formGroup]="logoForm" (ngSubmit)="sendLogoData()">
    <label>Name</label>
    <input type="text" formControlName="name" />

    <label>Last Name</label>
    <input type="text" formControlName="lastName" />

    <label>Title</label>
    <input type="text" formControlName="title" />

    <label>Image URL</label>
    <input type="text" formControlName="imageUrl" />

    <label>Icon URL</label>
    <input type="text" formControlName="iconUrl" />

    <button type="submit">Submit</button>
  </form>
</div>
